

</div> <!-- Fin du container -->

<!-- Footer -->
<footer class="bg-light text-center py-4 mt-5">
    <p class="mb-1">&copy; <%= new Date().getFullYear() %> Hamzaoui Hamid - Tous droits réservés.</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="/contact">Nous contacter</a></li>
        <li class="list-inline-item"><a href="#">Confidentialité</a></li>
        <li class="list-inline-item"><a href="#">Conditions</a></li>
    </ul>
</footer>
</body>
<script src="/css/bootstrap.bundle.min.js"></script>
</html>
