<footer class="bg-dark text-white py-3 mt-auto">
    <div class="container text-center">
        &copy; <%= new Date().getFullYear() %> Hamzaoui Hamid - Tous droits réservés.
    </div>
</footer>
</body>
</html>

